.info{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#0b0d1b;
    color: rgb(234, 216, 253);
    text-align: center;
    padding: 20px;
    font-size: 15px;
    letter-spacing: 1.2px;
}